{% load static %}

<!-- Hero Section Begin -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All Categories</span>
          </div>
          <ul>
            {% for ProductCategory in product_categories %}
            <li>
              <a href="{% url 'ProductListingView' product_category_id=ProductCategory.id %}">
                {{ProductCategory.name |title}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="{% url 'ProductListingView'%}" method = "get">
              <input type="text" placeholder="What do you need?" name = "search" value = "{{request.GET.search}}">
              <button type="submit" class="site-btn" >SEARCH</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>+91 90 21 188 888</h5>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>
        <div class="hero__item set-bg" data-setbg="{%static 'img/banner/banner3.jpg'%}" style = "height:80%">
          <div class="hero__text">
            <span>E-SHOP</span>
            <h2> 50 % <br />OFF</h2>
            <p>Free Delivery Available</p>
            <a href="#" class="primary-btn">SHOP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->