{% extends 'base.html' %} 
{% block content %} 
{% include "banner.html" %} 
{% load static %}
<!-- Contact Form Begin -->
<div class="contact-form spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact__form__title">
          <h2>Log In</h2>
        </div>
      </div>
    </div>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="row">
        {{form}}

        <div class="col-lg-12 text-center">
          <button type="submit" class="site-btn">LOG IN</button> <br /><br />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
