{% extends 'base.html' %}
{% block content %}
{%load static %}
{% include 'banner.html' %}
<!-- Contact Form Begin -->
<div class="contact-form spad">
  <div class="container">
    <div class="contact__form__title">
      <h2>Register User here</h2>
    </div>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="text" name="first_name" placeholder="first name" required />
      <input type="text" name="last_name" placeholder="last name" required />
      <input type="text" name="username" placeholder="username" required />
      <input type="email" name="email" placeholder="Enter your Email" required />
      <input type="password" name="password1" placeholder="password" required />
      <input type="password" name="password2" placeholder="Confirm password" required />
      <div class="col-lg-12 text-center">
        <button type="submit" class="site-btn">Register</button>
      </div>
    </form>
  </div>
</div>
<!-- Contact Form End -->
{% endblock content %}