{% extends 'base.html' %}
{% block content %}
{% include 'banner.html' %}

{% comment %} <section class="checkout spad">
  <div class="container">

    <div class="checkout__form">
      <h4>User Profile</h4>
      <form action="" method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Fist Name<span>*</span></p>
                  <input type="text" value="{{request.user.first_name}}" name="first_name">
                </div>
              </div>
              <br>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Last Name<span>*</span></p>
                  <input type="text" value="{{request.user.last_name}}" name="last_name">
                </div>
              </div>
            </div>
            <div class="checkout__input">
              <p>Address<span>*</span></p>
              <input type="text" placeholder="Street Address" class="checkout__input__add"
                value="{{request.user.UserProfiles.address}}" name="address">
              <input type="text" placeholder="Apartment, flat.no,  (optinal)"
                value="{{request.user.UserProfiles.address}}">
            </div>

            <div class="row">

              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Email<span>*</span></p>
                  <input type="text" readonly value="{{request.user.email}}">
                </div>
                <div class="checkout__input">
                  <p>Mobile <span>*</span></p>
                  <input type="text" value="{{request.user.UserProfiles.mobile}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section> {% endcomment %}

<container class="container ">
  <h2 style="text-align: center;">User Profile</h2>
  <div class="card-body ">
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mb-0">First Name</h6>
      </div>
      <div class="col-sm-9 text-secondary"> {{request.user.first_name}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mb-0">Last Name</h6>
      </div>
      <div class="col-sm-9 text-secondary"> {{request.user.last_name}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mb-0">Email</h6>
      </div>
      <div class="col-sm-9 text-secondary">{{request.user.email}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mb-0">Phone</h6>
      </div>
      <div class="col-sm-9 text-secondary"> {{request.user.UserProfiles.mobile}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mb-0">Mobile</h6>
      </div>
      <div class="col-sm-9 text-secondary"> {{request.user.UserProfiles.mobile}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <h6 class="mb-0">Address</h6>
      </div>
      <div class="col-sm-9 text-secondary"> {{request.user.UserProfiles.address}}</div>
    </div>
    <hr>
    {% comment %} <div class="row">
      <div class="col-sm-12"> <a class="btn btn-success " target="__blank"
          href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a></div>
    </div> {% endcomment %}
  </div>
</container>

{% endblock content %}